<h1>Create new Category</h1>
<%= simple_form_for @category do |f| %>
  <%= f.input :name %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
<p><%= link_to "Back to Cook Book", categories_path %></p>
